@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --tw-bg: #181a20;
    --tw-text: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --tw-bg: #181a20;
      --tw-text: #ededed;
    }
  }

  html {
    @apply text-foreground bg-background;
  }

  body {
    @apply max-w-full overflow-x-hidden antialiased font-sans;
  }

  * {
    @apply box-border p-0 m-0;
  }

  a {
    @apply text-inherit no-underline;
  }

  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }
}
